.button-custom {
  background-color: #ffb800;
  color: white;
  font-weight: bold;
}

.button-custom:hover {
  background-color: #be8900;
  color: white;
}

.button-custom:disabled {
  background-color: #c1c1c1;
  cursor: not-allowed;
}
