.profile-hover {
  position: relative;
}

.edit-icon {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
}

.profile-hover:hover .edit-icon {
  display: block;
  z-index: 10;
}

.profile-hover:hover img {
  opacity: 0.5;
}

.image-big {
  width: 10rem;
  height: 10rem;
}

.image-mid {
  width: 7rem;
  height: 7rem;
}

.image-sm {
  width: 4rem;
  height: 4rem;
}

.image-xs {
  width: 2.5rem;
  height: 2.5rem;
}
